body {
  font-family: 'Raleway', sans-serif;
  height:100%;
  width:100%;
  overflow-x:hidden;
}

.mainBody {
  width:100%;
}

a.header {
  color: #C06C84;
  text-decoration: none !important;
}

a.header:visited {color: #C06C84;}
a.header:active {color:black;}
a.header:hover {color: #F67280;}

a {color: #355C7D;}
a:visited {color: #355C7D;}
a:active {color: black;}
a:hover {color: #F8B195;}

input.searchbox {
  font-size:120%;
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input.searchbox:focus {
  outline: none;
}

.footer {
  z-index: -1;
  color: lightblue;
  text-align:center;
  position:fixed;
  left:70%;
  top: 10%;
  height:40px;
}

a.sort {
  color: #6C5B7B;
}

a.sort.bold {
  color: #C06C84;
}

.statLabel {
  color: #F8B195;
}

table {
  z-index:100;
  background-color: white;
  width: 99%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: scroll;
}

h3 {
  -webkit-margin-before: .2em;
  -webkit-margin-after: .2em;
}

p {
  -webkit-margin-before: .2em;
  -webkit-margin-after: .2em;
}

tr.info {
  border-bottom: solid #F7D9CD;
}

.stats {
  text-align: center;
}

code {
  color: purple;
}

.searchTerm {
  color: #F67280;
}

.options {
  padding:10px;
}

.summary {
  padding:10px;
}

blockquote {
  overflow: auto;
}