body {
  font-family: 'Raleway', sans-serif;
  height:100%;
}

.mainBody {
  padding:10px;
}

a.header {
  text-decoration: none !important;
}

a.header:visited {color:black;}
a.header:active {color:black;}
a.header:hover {color: red;}

input.searchbox {
  font-size:120%;
  padding: 10px;
  width: 50%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

input.searchbox:focus {
  outline: none;
}

.footer {
  text-align:center;
  position:fixed;
  left:70%;
  bottom:0px;
  height:40px;
}