<div ng-app='Answers'> 
  Your query: {{query}}
  <br>
  Sort by: 
  <a class='sort' ng-class='{bold: orderingBy === "views"}' ng-click='order("views")'>Views</a>
  || 
  <a class='sort' ng-class='{bold: orderingBy === "answerCount"}' ng-click='order("answerCount")'>AnswerCount</a>

  <div ng-repeat='answer in results'>
    <h3>{{answer.questionText}}</h3>
    <h4>{{answer.link}}</h4>
    {{answer.answered}} - {{answer.views}} - {{answer.answerCount}} - 
    {{answer.postDate}}
  </div>
  <br><br>
{{results}}
{{test}}
</div>