<div ng-app='Answers'> 
  <div>Searching for: {{query}}</div>
  <div>Sort by: 
    <a class='sort' ng-class='{bold: orderingBy === "views"}' ng-click='order("views")'>Views</a>
    || 
    <a class='sort' ng-class='{bold: orderingBy === "answerCount"}' ng-click='order("answerCount")'>AnswerCount</a>
    || 
    <a class='sort' ng-class='{bold: orderingBy === "normDate"}' ng-click='order("normDate")'>Date</a>
    || 
    <a class='sort' ng-class='{bold: orderingBy === "highestRep"}' ng-click='order("highestRep")'>Rep</a>
  </div>

  <table>
  <tr ng-repeat='answer in results'>
    <td class='left'>
      <h3><a href='{{answer.link}}'> {{answer.questionText}}</a> </h3>
      <div><span class='statLabel'>Answered:</span> {{answer.answered}}  <span class='statLabel'>Views:</span> {{answer.views}}  <span class='statLabel'>#Answers:</span> {{answer.answerCount}}  <span class='statLabel'>Rep:</span> {{answer.highestRep}}</div>
      <div>{{answer.postDate}}</div>
    </td>
    <td>
      <!-- {{answer.body}} -->
      <p ng-bind-html="answer.body"></p>
    </td>
  </tr>
  </table>
  <br><br>
</div>